input {
    display: block;
    width: 95%;
    line-height: 28.4px;
    margin: 10px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
   
}

.btn-default {
    width: 10%;
    line-height: 1.4rem;
    margin-left: 10px;
    position: relative;
}

.message {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}
