div{
    background-color: aqua;
    padding-top: 20px;
    text-align: center;
}
nav{
    text-align: center;
}




ul {
    font-size: 25px;

    list-style-type: none;
    display: flex;
}

li {
    margin-left: 10px;
    text-align: center;
}